@{
    ViewData["Title"] = "Home Page";
}
<h1 class="mt-3">Задание по лекция №8</h1>
<div class="input-group">
    <input type="text" name="value1" size="10" id='value1' maxlength="15" value="10" class="form-control mt-1"/>
</div>
<br>
<div class="input-group">
        <input type="text" name="value1" size="10" id='value2' maxlength="15" value="50" class="form-control" />
</div>
<br>
<button type="button" class="btn btn-success" onclick="simplePost(); return false;">simplePost</button>

<p class="mt-2">Выполнил Кириллов Иван</p>